body {
  font-size: .875rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  font-weight: 500;
  color: #007bff;
}

.sidebar-heading {
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
}

.fusion-heading {
  border-bottom: 1px solid #e5e5e5;
}

.fusion {
  margin-top: 20px;
}

.dashboard {
  margin-top: 20px;
}

/*
 * Utilities
 */

.loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
 * Tabulator
 */

.tabulator {
  font-size: .875rem!important;
}

.tabulator .badge {
  font-size: 90%;
}

.tabulator-row {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 85%;
}

/*
 * Graphs
 */

#ppi_graph {
  height: 500px;
  width: 100%;
}
